# Default ignored files
/shelf/
/workspace.xml
__pycache__/
*.py[cod]

*.log

/.env
/.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*
/.idea
/env
/venv
/celery
/MyProject/celerybeat-schedule.bak
/MyProject/celerybeat-schedule.dat
/MyProject/celerybeat-schedule.dir
/MyProject/db.sqlite3
*.sage.py
.prof
.pytype/

.mypy_cache/
.dmypy.json
dmypy.json

.ropeproject

/site

.spyderproject
.spyproject
